{% assign nutrient_count = 0 %}
{% assign text_list_count = 0 %}

{% if section.blocks.size > 0 %}
  {% for block in section.blocks %}
    {% if block.type == "nutrient" %}
      {% assign nutrient_count = nutrient_count | plus: 1 %}
    {% elsif block.type == "text_list" %}
      {% assign text_list_count = text_list_count | plus: 1 %}
    {% endif %}
  {% endfor %}
{% endif %}


{% if nutrient_count > 0 %}

  {% capture nutrient_tabs_header %}
    {% assign count = 0 %}
    <ul class="tabs nutrient-tab-header" role="tablist">
    {% for block in section.blocks %}
      {% if block.type == 'nutrient' %}
        {% assign nutrient = block %}
        <li class="tab {% if count == 0 %}active{% endif %}">
          <a href="javascript:;" data-id="nutrient_{{ nutrient.id }}">{{ nutrient.settings.nutrient_name }}</a>
        </li>
        {% assign count = count | plus: 1 %}
      {% endif %}
    {% endfor %}
    </ul>
    
    {% assign count = 0 %}
    <select name="" id="" class="nutrient-select-header">
      {% for block in section.blocks %}
        {% if block.type == 'nutrient' %}
          {% assign nutrient = block %}
          <option value="nutrient_{{ nutrient.id }}" {% if count == 0 %}selected{% endif %}>{{ nutrient.settings.nutrient_name }}</option>
          {% assign count = count | plus: 1 %}
        {% endif %}
      {% endfor %}
    </select>
  {% endcapture %}

  {% capture nutrient_tabs_content %}
    {% assign count = 0 %}
    {% for block in section.blocks %}
      {% if block.type == 'nutrient' %}
        {% assign nutrient = block %}
        <div id="nutrient_{{ nutrient.id }}" class="nutrient-tab-content {% if count == 0 %}active{% endif %}">
          <div class="nutrient-contentinner">
            <div class="nutrient-amounts">
              <div class="typical-less-amount">
                <label>Typical</label>
                <div class="nutrient-amount">
                  <div class="value">
                    {% if nutrient.settings.typical_amount_label != blank %}
                      {{ nutrient.settings.typical_amount_label }}
                    {% else %}
                      {% if nutrient.settings.typical_less_amount_max != '0' %}
                        {{ nutrient.settings.typical_less_amount_min }} - {{ nutrient.settings.typical_less_amount_max | times:100 | money_without_currency | remove:'.00' }}{{ nutrient.settings.unit }}
                      {% else %}
                        0{{ nutrient.settings.unit }}
                      {% endif %}
                    {% endif %}
                  </div>
                  <div class="real"></div>
                  <div class="empty"></div>
                </div>
              </div>
              <div class="optimal-amount">
                <label>Optimal</label>
                <div class="nutrient-amount">
                  {% if nutrient.settings.amount_label != blank %}
                    {{ nutrient.settings.amount_label }}
                  {% else %}
                    {{ nutrient.settings.optimal_amount  | times:100 | money_without_currency | remove:'.00' }}{{ nutrient.settings.unit }}<span>needed.<div>&reg;</div></span>
                  {% endif %}
                </div>
              </div>
              {% if nutrient.settings.typical_more_amount != blank %}
              <div class="typical-more-amount">
                <label>Typical</label>
                <div class="nutrient-amount">
                  {{ nutrient.settings.typical_more_amount | times:100 | money_without_currency | remove:'.00' }}{{ nutrient.settings.unit }}
                </div>
              </div>
              {% endif %}
              <div class="vert-line"></div>
              
              <style>
                .nutrient-amount-mens-multi #nutrient_{{ nutrient.id }} .nutrient-contentinner .typical-less-amount .nutrient-amount {
                  width: calc(100% * {{ nutrient.settings.optimal_amount }} / {{ nutrient.settings.typical_more_amount }});
                  display: flex;
                }
                .nutrient-amount-mens-multi #nutrient_{{ nutrient.id }} .nutrient-contentinner .typical-less-amount .nutrient-amount .real {
                  width: calc(100% * {{ nutrient.settings.typical_less_amount_max }} / {{ nutrient.settings.optimal_amount }});
                  height: 100%;
                  background-color: #1F3337;
                }
                {% if nutrient.settings.typical_less_amount_max == '0' %}
                .nutrient-amount-mens-multi #nutrient_{{ nutrient.id }} .nutrient-contentinner .typical-less-amount .nutrient-amount .real {
                  width: 1%;
                }
                {% endif %}
                .nutrient-amount-mens-multi #nutrient_{{ nutrient.id }} .nutrient-contentinner .typical-less-amount .nutrient-amount .empty {
                  width: calc(100% - (100% * {{ nutrient.settings.typical_less_amount_max }} / {{ nutrient.settings.optimal_amount }}));
                  height: 100%;
                  background-color: #1F3337;
                  opacity: 0.2;
                }
                .nutrient-amount-mens-multi #nutrient_{{ nutrient.id }} .nutrient-contentinner .vert-line {
                  position: absolute;
                  width: 1px;
                  height: calc(100% - 20px);
                  top: 27px;
                  left: 100%;
                  background-color: #878742;
                  opacity: 0.4;
                  z-index: 1;
                }
              {% if nutrient.settings.typical_more_amount != blank %}
                .nutrient-amount-mens-multi #nutrient_{{ nutrient.id }} .nutrient-contentinner .optimal-amount .nutrient-amount {
                  width: calc(100% * {{ nutrient.settings.optimal_amount }} / {{ nutrient.settings.typical_more_amount }});
                }
                .nutrient-amount-mens-multi #nutrient_{{ nutrient.id }} .nutrient-contentinner .typical-more-amount .nutrient-amount {
                  width: 100%;
                  position: relative;
                  z-index: 9;
                }
                .nutrient-amount-mens-multi #nutrient_{{ nutrient.id }} .nutrient-contentinner .vert-line {
                  left: calc(100% * {{ nutrient.settings.optimal_amount }} / {{ nutrient.settings.typical_more_amount }});
                }
              {% else %}
                .nutrient-amount-mens-multi #nutrient_{{ nutrient.id }} .nutrient-contentinner .optimal-amount .nutrient-amount {
                  width: 100%;
                }
              {% endif %}
              </style>

            </div>
            <div class="nutrient-mobilefootertext nutrient-footertext">
              {{ nutrient.settings.footer_text }}
            </div>
            <div class="nutrient-separator"></div>
            <div class="nutrient-description">
              {{ nutrient.settings.description }}
            </div>
          </div>
          <div class="nutrient-footertext">
            {{ nutrient.settings.footer_text }}
          </div>
        </div>
        {% assign count = count | plus: 1 %}
      {% endif %}
    {% endfor %}
  {% endcapture %}

{% endif %}


<section class="nutrient-amount-mens-multi" data-section-id="{{ section.id }}">
  <div class="container">
    <div class="section-title">
      {{ section.settings.section_title }}
    </div>

    <div class="nutrient-list">
      {% if nutrient_count > 0 %}
        <div class="nutrient-tabs">
          <div class="nutrient-tabs-header">
            {{ nutrient_tabs_header }}
          </div>
          <div class="nutrient-tabs-content">
            {{ nutrient_tabs_content }}
          </div>
        </div>
      {% endif %}
    </div>

    {% if section.settings.section_title2 != blank %}
    <div class="section-title2">
      {{ section.settings.section_title2 }}
    </div>
    {% endif %}

    <div class="text-list">
      {% if text_list_count > 0 %}
        {% for block in section.blocks %}
          {% if block.type == 'text_list' %}
            <div class="text-dtneed"><span>x</span>{{ block.settings.description }}</div>
          {% endif %}
        {% endfor %}
      {% endif %}
    </div>

    {% if section.settings.button_text != blank %}
    <div class="section-button">
      <a href="{{ section.settings.button_link }}" class="complete-comparison">{{ section.settings.button_text }}</a>
    </div>
    {% endif %}
  </div>
</section>

<style>
  .nutrient-amount-mens-multi {
    padding: 125px 0 105px;
    margin-bottom: 25px;
    background-color: #F6F4F2;
  }
  .nutrient-amount-mens-multi .section-title {
    font-family: 'Copernicus-bold';
    font-size: 35px;
    line-height: 47px;
    text-align: center;
    color: #1F3437;
    max-width: 670px;
    margin: 0 auto 60px;
  }
  .nutrient-amount-mens-multi .section-title span {
    color: #878742;
  }
  .nutrient-amount-mens-multi .nutrient-select-header {
    display: none;
  }
  .nutrient-amount-mens-multi .nutrient-tab-header {
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
  }
  .nutrient-amount-mens-multi .nutrient-tab-header li a {
    font-family: 'Copernicus-bold';
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #1F3337;
    text-decoration: none;
    padding-bottom: 4px;
  }
  .nutrient-amount-mens-multi .nutrient-tab-header li.active a {
    border-bottom: 3px solid #1F3337;
  }
  .nutrient-amount-mens-multi .nutrient-tab-content {
    padding: 48px 0;
    display: none;
  }
  .nutrient-amount-mens-multi .nutrient-tab-content.active {
    display: block;
  }
  .nutrient-amount-mens-multi .nutrient-tab-content .nutrient-contentinner {
    display: flex;
  }
  .nutrient-amount-mens-multi .nutrient-amounts {
    width: calc(100% - 182px);
    position: relative;
  }
  .nutrient-amount-mens-multi .typical-less-amount .nutrient-amount {
    height: 60px;
    position: relative;
  }
  .nutrient-amount-mens-multi .typical-less-amount .nutrient-amount .value {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 9;
  }
  .nutrient-amount-mens-multi .optimal-amount .nutrient-amount {
    background-color: #878742;
    display: flex;
    justify-content: space-between;
    height: 60px;
    padding: 20px;
  }
  .nutrient-amount-mens-multi .optimal-amount .nutrient-amount span {
    position: relative;
    font-family: 'Copernicus-Bold';
  }
  .nutrient-amount-mens-multi .optimal-amount .nutrient-amount span div {
    position: absolute;
    top: -7px;
    right: 0;
    font-size: 13px;
    font-family: 'Copernicus-Book';
  }
  .nutrient-amount-mens-multi .typical-more-amount .nutrient-amount {
    background-color: #1F3337;
    height: 60px;
    padding: 20px;
  }
  .nutrient-amount-mens-multi .nutrient-tab-content .optimal-amount {
    margin-top: 30px;
  }
  .nutrient-amount-mens-multi .nutrient-tab-content .typical-more-amount {
    margin-top: 30px;
  }
  .nutrient-amount-mens-multi .nutrient-tab-content label {
    color: #1F3337;
    font-family: 'BrownPro-regular';
    font-size: 22px;
    line-height: 20px;
    margin-bottom: 15px;
    display: inline-block;
  }
  .nutrient-amount-mens-multi .nutrient-tab-content .nutrient-amount {
    color: #FFFFFF;
    font-family: 'BrownPro-regular';
    font-size: 24px;
    line-height: 20px;
  }
  .nutrient-amount-mens-multi .nutrient-separator {
    width: 10px;
    border-style: solid;
    border-color: #1F3337;
    border-width: 1px;
    border-left: hidden;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    opacity: 0.2;
    margin: 65px 35px 30px;
  }
  .nutrient-amount-mens-multi .nutrient-description {
    width: 172px;
    color: #1F3337;
    font-family: 'BrownPro-regular';
    font-size: 16px;
    letter-spacing: 0;
    line-height: 23px;
    display: inline-table;
    margin: auto;
    padding-top: 30px;
  }
  .nutrient-amount-mens-multi .nutrient-footertext {
    color: #1F3337;
    font-family: 'BrownPro-regular';
    font-size: 14px;
    letter-spacing: 0;
    line-height: 18px;
    margin-top: 45px;
    text-align: center;
    padding: 0 30px;
  }
  .nutrient-amount-mens-multi .nutrient-mobilefootertext {
    display: none;
  }
  .nutrient-amount-mens-multi .section-title2 {
    font-family: 'Copernicus-bold';
    font-size: 35px;
    line-height: 47px;
    text-align: center;
    color: #1F3437;
    max-width: 670px;
    margin: 63px auto 40px;
  }
  .nutrient-amount-mens-multi .section-title2 span {
    color: #878742;
  }
  .nutrient-amount-mens-multi .text-list {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .nutrient-amount-mens-multi .text-dtneed {
    font-family: 'BrownPro-regular';
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0;
    color: #1F3337;
    display: flex;
    width: 47%;
    margin-bottom: 20px;
  }
  .nutrient-amount-mens-multi .text-dtneed:last-child,
  .nutrient-amount-mens-multi .text-dtneed:nth-last-child(2) {
    margin-bottom: 0px;
  }
  .nutrient-amount-mens-multi .text-dtneed span {
    margin-right: 18px;
  }
  .nutrient-amount-mens-multi .section-button {
    margin-top: 45px;
    text-align: center;
  }
  .nutrient-amount-mens-multi .section-button a {
    display: inline-block;
    text-decoration: none;
    background-color: #1F3337;
    color: #ffffff;
    padding: 20px 80px;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    border-radius: 28px;
  }
  @media (max-width: 1023px) {
    .nutrient-amount-mens-multi .nutrient-tab-header {
      padding: 0 70px;
    }
    .nutrient-amount-mens-multi .nutrient-tab-header li a {
      font-size: 16px;
      line-height: 20px;
      padding-bottom: 3px;
    }
    .nutrient-amount-mens-multi .nutrient-tab-content label {
      font-size: 21px;
    }
    .nutrient-amount-mens-multi .nutrient-tab-content .nutrient-amount {
      font-size: 21px;
    }
    .nutrient-amount-mens-multi .text-list {
      width: 85%;
    }
  }
  @media (max-width: 919px) {
    .nutrient-amount-mens-multi .nutrient-tab-header {
      padding: 0 40px;
    }
    .nutrient-amount-mens-multi .nutrient-tab-header li.active a {
      border-bottom: 2px solid #1F3337;
    }
    .nutrient-amount-mens-multi .nutrient-tab-header li a {
      font-size: 15px;
      line-height: 18px;
    }
    .nutrient-amount-mens-multi .nutrient-tab-content label {
      font-size: 19px;
    }
    .nutrient-amount-mens-multi .nutrient-tab-content .nutrient-amount {
      font-size: 18px;
    }
    .nutrient-amount-mens-multi .typical-less-amount .nutrient-amount {
      height: 58px;
    }
    .nutrient-amount-mens-multi .optimal-amount .nutrient-amount {
      height: 58px;
    }
    .nutrient-amount-mens-multi .typical-more-amount .nutrient-amount {
      height: 58px;
    }
    .nutrient-amount-mens-multi .text-list {
      width: 95%;
    }
  }
  @media (max-width: 767px) {
    .nutrient-amount-mens-multi .nutrient-tab-content {
      padding: 20px 0px;
    }
    .nutrient-amount-mens-multi .section-title,
    .nutrient-amount-mens-multi .section-title2 {
      font-size: 26px;
      line-height: 35px;
      max-width: 520px;
    }
    .nutrient-amount-mens-multi .nutrient-tab-header {
      display: none;
    }
    .nutrient-amount-mens-multi .nutrient-amounts {
      width: 100%;
      position: relative;
    }
    .nutrient-amount-mens-multi .nutrient-select-header {
      display: block;
      width: 100%;
      padding: 12px;
      font-size: 18px;
      color: #1F3337;
      font-family: 'Copernicus-bold';
      letter-spacing: 0;
      line-height: 24px;
      border: 1px solid #1F3337;
      align-items: center;
    }
    .nutrient-amount-mens-multi .nutrient-select-header:after {
      justify-self: end;
    }
    .nutrient-amount-mens-multi .nutrient-tab-content .nutrient-contentinner {
      display: block;
    }
    .nutrient-amount-mens-multi .nutrient-tab-content .nutrient-contentinner.active {
      display: block;
    }
    .nutrient-amount-mens-multi .nutrient-separator {
      border-left-style: solid;
      border-top-right-radius: unset;
      width: 100%;
      margin: 20px 0 0;
      height: 10px;
      border-top: none;
      border-bottom-right-radius: 8px;
      border-bottom-left-radius: 8px;
      border-left-width: 1px;
      border-left-style: solid;
    }
    .nutrient-amount-mens-multi .nutrient-description {
      width: 100%;
      display: block;
      margin: 25px auto 0;
      padding: 0 30px;
      text-align: center;
    }
    .nutrient-amount-mens-multi .nutrient-footertext {
      display: none;
    }
    .nutrient-amount-mens-multi .nutrient-mobilefootertext {
      display: block;
      text-align: left;
    }
    .nutrient-amount-mens-multi .text-dtneed {
      width: 100%;
    }
    .nutrient-amount-mens-multi .text-dtneed:nth-last-child(2) {
      margin-bottom: 20px;
    }
  }
  @media (max-width: 519px) {
    .nutrient-amount-mens-multi .nutrient-description {
      padding: 0px;
    }
    .nutrient-amount-mens-multi .nutrient-footertext {
      padding: 0px;
    }
    .nutrient-amount-mens-multi .section-button a {
      padding: 18px 25px;
    }
    .nutrient-amount-mens-multi .nutrient-tab-content label {
      font-size: 18px;
    }
    .nutrient-amount-mens-multi .nutrient-tab-content .nutrient-amount {
      font-size: 16px;
    }
    .nutrient-amount-mens-multi .nutrient-tab-content:first-child .optimal-amount .nutrient-amount {
      display: block;
      padding: 10px 20px;
    }
    .nutrient-amount-mens-multi .nutrient-tab-content:first-child .optimal-amount .nutrient-amount span {
      display: block;
      margin-top: 3px;
    }
    .nutrient-amount-mens-multi .nutrient-tab-content:first-child .optimal-amount .nutrient-amount span div {
      display: inline-block;
      right: unset;
      margin-left: -6px;
    }
  }
</style>

<script>
  $(".nutrient-amount-mens-multi .nutrient-tab-header li a").click(function() {
    var tabId = $(this).data("id");
    $(".nutrient-amount-mens-multi .nutrient-tab-content").removeClass("active");
    $(".nutrient-amount-mens-multi #" + tabId).addClass("active");
    $(".nutrient-amount-mens-multi .nutrient-tab-header li.active").removeClass("active");
    $(this).parent().addClass("active");
    $(".nutrient-amount-mens-multi .nutrient-select-header option[value="+tabId+"]").attr('selected', '');
  });

  $(".nutrient-amount-mens-multi .nutrient-select-header").change(function() {
    var tabId = $(this).val();
    $(".nutrient-amount-mens-multi .nutrient-tab-content").removeClass("active");
    $(".nutrient-amount-mens-multi #" + tabId).addClass("active");
    $(".nutrient-amount-mens-multi .nutrient-tab-header li.active").removeClass("active");
    $(".nutrient-amount-mens-multi .nutrient-tab-header li a[data-id="+tabId+"]").parent().addClass("active");
  });
</script>

{% schema %}
{
  "name": "Nutrient Amount",
  "settings": [
    {
      "type": "textarea",
      "id": "section_title",
      "label": "Title"
    },
    {
      "type": "textarea",
      "id": "section_title2",
      "label": "Title2"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"
    }
  ],
  "blocks": [
    {
      "type": "nutrient",
      "name": "Nutrient",
      "settings": [
        {
          "type": "text",
          "id": "nutrient_name",
          "label": "Nutrient Name"
        },
        {
          "type": "text",
          "id": "typical_less_amount_min",
          "label": "Typical Amount Min(Less)",
          "default": "0"
        },
        {
          "type": "text",
          "id": "typical_less_amount_max",
          "label": "Typical Amount Max(Less)"
        },
        {
          "type": "text",
          "id": "typical_amount_label",
          "label": "Typical Amount Label"
        },
        {
          "type": "text",
          "id": "optimal_amount",
          "label": "Optimal Amount"
        },
        {
          "type": "text",
          "id": "optimal_amount_label",
          "label": "Optimal Amount Label"
        },
        {
          "type": "text",
          "id": "typical_more_amount",
          "label": "Typical Amount(More)"
        },
        {
          "type": "text",
          "id": "unit",
          "label": "Unit"
        },
        {
          "type": "textarea",
          "id": "description",
          "label": "Description"
        },
        {
          "type": "textarea",
          "id": "footer_text",
          "label": "Footer Text"
        }
      ]
    },
    {
      "type": "text_list",
      "name": "Text",
      "settings": [
        {
          "type": "textarea",
          "id": "description",
          "label": "Description"
        }
      ]
    }
  ]
}
{% endschema %}