<style>
    section.optimal-womens-multi {
        margin-bottom: 90px;
    }
    section.optimal-womens-multi h1 {
        max-width: 750px;
        text-align: center;
        font-size: 34px;
        margin: auto;
        margin-top: 150px;
        margin-bottom: 77px;
        line-height: 47px;    
        letter-spacing: normal;
    }
    section.optimal-womens-multi .main-content{
        background-color: #B2CACA;
        background-image: url("{{section.settings.back_img | img_url: 'master' }}");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right;
        height: 580px;
        display:flex;
    }
    section.optimal-womens-multi .main-content .col {
        text-align: center;
        width:50%;
        margin: auto;
    }
    section.optimal-womens-multi .main-content .col h1{
        margin-top: 0px !important;
        font-size: 28px;
        margin-bottom: 31px;
    }
    section.optimal-womens-multi .main-content .col p{
        font-size: 18px;
        margin-bottom: 32px;
    }
    section.optimal-womens-multi .main-content .col button{
        width: 300px;
    }
    section.optimal-womens-multi .main-content img{
        display: none;
    }
    @media (max-width: 899px) {
        section.optimal-womens-multi {
            margin-bottom: 60px;
        }
        section.optimal-womens-multi h1 {
            margin-top: 70px;
            margin-bottom: 24px;
            line-height: 35px;
            font-size: 26px;
            padding: 0px 30px;            
        }
        section.optimal-womens-multi .main-content .col h1 {
            padding: 0px;
            padding-top: 24px;
            padding-bottom: 16px;
            letter-spacing: normal;
            margin-bottom: 16px;
            margin-top: 0px;
            margin-bottom: 0px;

        }
        section.optimal-womens-multi .main-content {
            height: auto;
        }
        section.optimal-womens-multi .main-content .col p {
            margin-bottom: 24px;
        }
        section.optimal-womens-multi .main-content .col a {
            width: 100%;
            padding: 18px;
            margin-bottom: 50px;
        }
        section.optimal-womens-multi .main-content img{
            display: block;
        }        
        section.optimal-womens-multi .main-content .col {
            width:100%;
        }
        section.optimal-womens-multi .main-content .col:nth(:first-child) {
            display: none;
        }
        section.optimal-womens-multi .main-content {
            display: block;
        }
        section.optimal-womens-multi .main-content{
            background-image: none;
        }
    }
</style>
<section class="optimal-womens-multi">
    <h1>{{section.settings.title}}</h1>
    <div class='main-content' >
        <img src="{{section.settings.back_img | img_url: 'master' }}">
        <div class='col'>
            <h1>{{section.settings.sub_title}}</h1>
            <p>{{section.settings.description}}</p>
            <a href="https://thisisneeded.com/pages/womens-health-plan" class="button button--primary">{{section.settings.btn_text}}</a>
        </div>
        <div class='col'>
            {% comment %} <img src="{{section.settings.back_img | img_url: 'master' }}"> {% endcomment %}
        </div>
    </div>
</section>
{% schema %}
{
    "name": "Optimal Womens Multi", 
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Main heading",
            "default": "Or, complete your Women's Multi with a plan designed for an optimal you."
        },
        {
            "type": "textarea",
            "id": "sub_title",
            "label": "Sub title",
            "default": "The Women's Health Plan"
        },
        { 
            "type": "text",
            "id": "btn_text",
            "label": "Button",
            "default": "Shop Women's Health Plan"
        },
        { 
            "type": "image_picker",
            "id": "back_img",
            "label": "Background Image"
        },
        {
            "type": "textarea",
            "id": "description",
            "label": "Description",
            "default": "The 6-part complete routine for optimal women's health"
        }

    ]
}
{% endschema %}