<style>
    .prenatal-powder-pill .product-title {
        font-family: "Copernicus-Bold";
        font-size: 28px;
    }
    .prenatal-powder-pill .product-left .product-title {
        text-align: right;
        padding-right: 96px;
    }
    .prenatal-powder-pill .product-right .product-title {
        padding-left: 45px;
    }
    .prenatal-powder-pill .text {
        font-size: 16px;
    }
    .prenatal-powder-pill ul.product-text li {
        position: relative;
        padding: 0 27px;
        margin-bottom: 20px;
    }
    .prenatal-powder-pill .ingredient-more {
        margin-bottom: 40px;
        margin-top: 15px;
        padding-left: 27px;
    }
    .prenatal-powder-pill ul.product-text li:before {
        position: absolute;
        content: url("https://cdn.shopify.com/s/files/1/0195/3293/9328/t/49/assets/icon-check.svg");
        width: 14px;
        height: 14px;
        top: 2px;
        left: 0px;
    }
    .prenatal-powder-pill .ingredient-desc {
        font-size: 13px;
        opacity: 0.5;
        padding-left: 27px;
    }
    .prenatal-powder-pill .product-ingredient {
        display: flex;
        align-items: center;
        padding-left: 27px;
        margin-bottom: 10px;
    }
    .prenatal-powder-pill .product-ingredient li {
        display: grid;
        text-align: center;
        background: white;
        height: 85px;
        padding: 20px 0px;
    }
    .prenatal-powder-pill .product-ingredient li:last-child {
        margin-right: 0px;
    }
    .prenatal-powder-pill .product-ingredient li span:nth-child(1) {
        font-size: 15px;
        margin-bottom: 10px;
        font-family: 'Copernicus-Bold';
    }
    .prenatal-powder-pill .product-ingredient li span:nth-child(2) {
        font-size: 16px;
    }
    .prenatal-powder-pill {
        padding-top: 160px;
    }
    .prenatal-powder-pill .page-top {
        padding: 0 175px;
    }
    .prenatal-powder-pill .page-top h1 {
        font-size: 45px;
    }
    .prenatal-powder-pill .page-top p {
        margin-bottom: 22px;
        margin-top: 22px;
    }
    .prenatal-powder-pill .button--primary {
        width: 100%;
    }
    .prenatal-powder-pill .save_additional {
        /* display: none; */
    }
    .prenatal-powder-pill .product__action {
        margin-top: 20px;
    }
    .prenatal-powder-pill #rc_container .rc_block {
        margin: 0;
        padding: 0;
    }
    .prenatal-powder-pill #rc_container .rc_block__type--active {
        background: none;
    }
    .prenatal-powder-pill .product__action .add-to-bundle {
        margin-top: 5px;
        background-color: #fff;
        color: #1f3337;
        border: 2px solid #1f3337;
        font-weight: bold;
    }
    .prenatal-powder-pill .page-bottom {
        padding: 42px 0px 110px 0px;
        max-width: 460px;
        margin: auto;
    }
    .prenatal-powder-pill .product__icons-container {
        margin-top: 22px;
        text-align: center;
    }
    .prenatal-powder-pill .product__icons .shiping-info {
        font-size: 14px;
        color: #1f3337;
        opacity: .65;
        line-height: 21px;
    }
    .prenatal-powder-pill .product__supplement-fact {
        margin-top: 16px;
    }
    .prenatal-powder-pill .product__supplement-link {
        color: #1f3337;
        opacity: .65;
        line-height: 24px;
        transition: .3s all;
        font-size: 15px;
    }
    .prenatal-powder-pill .faq_link {
        color: #1f3337;
        opacity: .65;
        line-height: 24px;
        font-size: 16px;
        text-transform: uppercase;
    }
    .prenatal-powder-pill .have_ques {
        color: #1f3337;
        opacity: .65;
        line-height: 24px;
        font-size: 16px;
        cursor: pointer;
    }
    .prenatal-powder-pill .product__icons-container .dot {
        font-size: 7px;
        padding: 0 10px;
        vertical-align: middle;
    }
    /* .prenatal-powder-pill .page-top img {
        max-width: 340px;
        width: 100%;
    } */
    #rc_price_onetime {
        font-weight: bold;
    }
    .prenatal-powder-pill .popup .popup__container .popup-img-wrapper img {
        visibility: visible;
        max-height: 100%;
    }
    .prenatal-powder-pill .popup .popup__container .popup-img-wrapper {
        width: auto;
        height: auto;
    }
    .prenatal-powder-pill .product__supplement-fact .popup--supplement {
        display: none !important;
    }
    .prenatal-powder-pill  .product__supplement-fact .popup--supplement.popup--opened{
		display: flex !important;
	}
    .quiz-pro-o3 .product__accordion .accordion__pane .accordion__title span:not(.accordion__state) {
        max-width: 100%;
    }
    @media (min-width: 992px) {
        .prenatal-powder-pill .product-ingredient li {
            margin-right: 4px;
            max-width: 107px;
            width: 107px;
        }
        .prenatal-powder-pill .col-12 {
            margin-top: -200px;
        }
        .prenatal-powder-pill .col-12:nth-child(1) {
            padding-right: 110px;
        }
        .prenatal-powder-pill .col-12:nth-child(2) {
            padding-left: 110px;
        }
        .prenatal-powder-pill {
            background-image: linear-gradient(to right, #FFCEC1, #FFCEC1 50%, #ffe6e0 50%, #ffe6e0);
        }
        .prenatal-powder-pill .product-title {
            margin-bottom: 125px;
        }
        .prenatal-powder-pill .product-left .product-title {
            text-align: right;
            padding-right: 96px;
        }
        .prenatal-powder-pill .product-right .product-title {
            padding-left: 60px;
        }
        .prenatal-powder-pill .page-bottom .product__action {
            padding: 0 15px;
        }
        .prenatal-powder-pill .page-top .mobile-show {
            display: none;
        }
    }
    @media (max-width: 991px) {
        .prenatal-powder-pill .page-top {
            padding: 0;
        }
        .prenatal-powder-pill .page-top .mobile-hide {
            display: none;
        }
        .prenatal-powder-pill {
            background: #FFCEC1;
            padding-top: 80px;
        }
        .prenatal-powder-pill .page-top h1 {
            font-size: 32px;
        }
        .prenatal-powder-pill .page-top .text {
            font-size: 18px;
        }
        .prenatal-powder-pill .product-left .product-title, .prenatal-powder-pill .product-right .product-title {
            text-align: center;
            padding: 0;
            padding-bottom: 20px;
        }
        .prenatal-powder-pill .ingredient-more {
            margin-bottom: 20px;
        }
        .prenatal-powder-pill .page-bottom {
            padding-top: 0px;
        }
        .prenatal-powder-pill .page-bottom .product__action {
            margin-top: 3px;
        }
        .prenatal-powder-pill .product-ingredient {
            justify-content: space-between;
            flex-wrap: wrap;
        }
        .prenatal-powder-pill .product-ingredient li {
            width: calc(50% - 2.5px);
            margin-bottom: 5px;
        }
        .prenatal-powder-pill .switch-btn {
            display: flex;
            margin: 30px 0px;
        }
        .prenatal-powder-pill .switch-btn .btn {
            width: 50%;
            border: 1px solid #1F3337;
            padding: 16px 0px;
        }
        .prenatal-powder-pill .switch-btn .left {
            border-radius: 25px 0px 0px 25px;
        }
        .prenatal-powder-pill .switch-btn .right {
            border-radius: 0px 25px 25px 0px;
            border-left: 0px;
        }
        .prenatal-powder-pill .switch-btn .active {
            background: white;
        }
    }
</style>
<div class="prenatal-powder-pill">
    <div class="container">
        <div class="page-top text-center">
            <h1 class="mobile-hide">{{ section.settings.page_title }}</h1>
            <p class="text mobile-hide">{{ section.settings.page_sub_title }}</p>
            <div style="position: relative; width: 100%; max-width: 378px; margin: auto;">
                <div style="padding-bottom: 100%;">
                    <img src="{{ section.settings.page_image | img_url: "756x" }}" alt="powder and pill" style="position: absolute; left: 0; top: 0; width: 100%;">               </div>
            </div>
            <h1 class="mobile-show">{{ section.settings.page_title }}</h1>
            <p class="text mobile-show">{{ section.settings.page_sub_title }}</p>
            <div class="switch-btn mobile-show">
                <div class="btn left">{{ section.settings.btn_name_1 }}</div>
                <div class="btn right active">{{ section.settings.btn_name_2 }}</div>
            </div>
        </div>
        <div class="row">
            {% if section.blocks.size > 0 %}
                {% for block in section.blocks %}
                    <div class="col-12 col-lg-6 {% if forloop.index0 == 0 %} product-left {% else %} product-right {% endif %}">
                        <div class="product-information">
                            <h2 class="product-title">{{ block.settings.pro_title }}</h2>
                            <ul class="product-text text">
                                {{ block.settings.pro_text_1 }}
                            </ul>
                            <ul class="product-ingredient">
                                {{ block.settings.ingredient }}
                            </ul>
                            <p class="ingredient-desc">{{ block.settings.ingredient_desc }}</p>
                            <p class="ingredient-more text">{{ block.settings.ingredient_more }}</p>
                            <ul class="product-text text">
                                {{ block.settings.pro_text_2 }}
                            </ul>
                            {% if block.settings.prenatal_product != blank %}
                                {% assign product = all_products[block.settings.prenatal_product] %}
                                {%- assign current_variant = product.selected_or_first_available_variant -%}
                            {% endif %}
                            <form action="/cart/add" method="post" enctype="multipart/form-data" data-product-original-form data-productid="{{product.id}}">
                                {% if product.available %}
                                    {% include 'preorder-product' %}
                                {% endif %}
                                <input type="hidden" id="quantity" name="quantity" value="1">
                                <input type="hidden" name="id" value="{{ product.variants[0].id }}">
                                <div class="product__action">
                                    <button type="submit" name="add" class="button button--primary">
                                        <span data-add-to-cart-text>
                                            {% if current_variant.available %}
                                                {% if current_variant.inventory_management == "shopify" and product.variants.first.inventory_quantity <= 0 %}
                                                    Preorder Now		
                                                {% else %}
                                                    {% if product.handle == 'prenatal-multi-capsules' %}
														Preorder Now
													{% else %}
														Add to cart
													{% endif %}
                                                {% endif %}
                                            {% else %}
                                                    Sold out
                                            {% endif %}
                                        </span>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="page-bottom text-center">
            <div class="product__action">
                <a class="add-to-bundle button button--primary" href="/pages/bundle-plans#bundle-item-container-2">
                    <span>Shop & Save on Bundles</span>
                </a>
            </div>
            <div class="product__icons-container">
                <div class="product__icons">
                    {% include 'product-icons' %}
                </div>
                {% include 'product-supplement-popup' %}
            </div>
        </div>
    </div>
</div>

{% schema %}
{
    "name": "Powder and pill",
    "max_blocks": 2,
    "settings": [
        {
            "type": "text",
            "id": "page_title",
            "label": "Heading",
            "default": "Wondering which of our Prenatal Multis is right for you?"
        },
        {
            "type": "textarea",
            "id": "page_sub_title",
            "label": "Sub heading",
            "default": "We make it easy to compare Powder and Capsules, and to switch your subscription between them."
        },
        {
			"type": "text",
			"id": "btn_name_1",
			"label": "Button name 1",
			"default": "Powder"
		},
        {
			"type": "text",
			"id": "btn_name_2",
			"label": "Button name 2",
			"default": "Capsules"
		},
        {
            "type": "image_picker",
            "id": "page_image",
            "label": "Image"
        },
        {
			"type": "text",
			"id": "shipping_info_1",
			"label": "Label 1",
			"default": "Free US Shipping"
		},
		{
			"type": "text",
			"id": "shipping_info_2",
			"label": "Label 2",
			"default": "Easy Cancellation"
		},
		{
			"type": "text",
			"id": "shipping_info_3",
			"label": "Label 3",
			"default": "100% Satisfaction Guarantee"
		},
        {
			"type": "text",
			"id": "supplement_link_text",
			"label": "Supplement Link Text",
			"default": "Supplements Facts"
		},
		{
			"type": "text",
			"id": "question_title",
			"label": "Question title",
			"default": "Have questions?"
		},
        {
			"type": "text",
			"id": "link_title",
			"label": "Page title",
			"default": "faq"
		},
		{
			"type": "page",
			"id": "link_page",
			"label": "Choose a page"
		}
    ],
    "blocks": [
        {
            "type": "product",
            "name": "powder and pill",
            "settings": [
                {
                    "type": "text",
                    "id": "pro_title",
                    "label": "Product title",
                    "default": "Needed Prenatal Multi Powder"
                },
                {
                    "type": "textarea",
                    "id": "pro_text_1",
                    "label": "Text 1"
                },
                {
                    "type": "textarea",
                    "id": "pro_text_2",
                    "label": "Text 2"
                },
                {
                    "type": "textarea",
                    "id": "ingredient",
                    "label": "Ingredient"
                },
                {
                    "type": "textarea",
                    "id": "ingredient_desc",
                    "label": "Ingredient text",
                    "default": "* encapsulated in plant-based beadlets for optimal absorption and nutrient protection"
                },
                {
                    "type": "textarea",
                    "id": "ingredient_more",
                    "label": "Ingredient more",
                    "default": "+20 other complete vitamins and minerals"
                },
                {
                    "type": "product",
                    "id": "prenatal_product",
                    "label": "Product select"
                }
            ]
        }
    ]
}
{% endschema %}