<style>
  .prenatal-powder-pill-pme .product-title {
    font-family: "Copernicus-Bold";
    font-size: 24px;
  }
  .prenatal-powder-pill-pme .text {
    font-size: 16px;
  }
  .prenatal-powder-pill-pme p+ul.product-text {
    padding-bottom: 55px;
  }
  .prenatal-powder-pill-pme ul.product-text li {
    position: relative;
    padding: 0 27px;
    margin-bottom: 20px;
    max-width: 364px;
  }
  .prenatal-powder-pill-pme .ingredient-more {
    margin-bottom: 40px;
    margin-top: 15px;
    padding-left: 27px;
  }
  .prenatal-powder-pill-pme ul.product-text li:before {
    position: absolute;
    content: url("https://cdn.shopify.com/s/files/1/0195/3293/9328/t/49/assets/icon-check.svg");
    width: 14px;
    height: 14px;
    top: 2px;
    left: 0px;
  }
  .prenatal-powder-pill-pme .ingredient-desc {
    font-size: 13px;
    opacity: 0.5;
    padding-left: 27px;
  }
  .prenatal-powder-pill-pme .product-ingredient {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 27px;
    margin-bottom: 10px;
    max-width: 340px;
  }
  .prenatal-powder-pill-pme .product-ingredient li {
    display: grid;
    text-align: center;
    background: white;
    height: 85px;
    padding: 20px 0px;
  }
  .prenatal-powder-pill-pme .product-ingredient li:last-child {
    margin-right: 0px;
  }
  .prenatal-powder-pill-pme .product-ingredient li span:nth-child(1) {
    font-size: 15px;
    margin-bottom: 10px;
    font-family: 'Copernicus-Bold';
  }
  .prenatal-powder-pill-pme .product-ingredient li span:nth-child(2) {
    font-size: 16px;
  }
  .prenatal-powder-pill-pme {
    padding-top: 80px;
    padding-bottom: 80px;
    margin-top: 30px;
  }
  .prenatal-powder-pill-pme .page-top {
    padding: 0 175px;
  }
  .prenatal-powder-pill-pme .page-top h1 {
    font-size: 35px;
  }
  .prenatal-powder-pill-pme .page-top p {
    margin-bottom: 22px;
    margin-top: 22px;
  }
  .prenatal-powder-pill-pme .button--primary {
    padding: 20px 42px;
    border-radius: 30px;
    position: absolute;
    bottom: 0;
  }
  .prenatal-powder-pill-pme .bottom-text {
    color: #1F3337;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 19px;
    display: block;
    margin-top: 3px;
    margin-bottom: 18px;
  }
  .prenatal-powder-pill-pme .save_additional {
    display: none;
  }
  .prenatal-powder-pill-pme #rc_container .rc_block {
    margin: 0;
    padding: 0;
  }
  .prenatal-powder-pill-pme #rc_container .rc_block__type--active {
    background: none;
  }
  .prenatal-powder-pill-pme .product__supplement-fact {
    margin-top: 16px;
  }
  .prenatal-powder-pill-pme .product__supplement-link {
    color: #1f3337;
    opacity: .65;
    line-height: 24px;
    transition: .3s all;
    font-size: 15px;
  }
  .prenatal-powder-pill-pme .faq_link {
    color: #1f3337;
    opacity: .65;
    line-height: 24px;
    font-size: 16px;
    text-transform: uppercase;
  }
  .prenatal-powder-pill-pme .have_ques {
    color: #1f3337;
    opacity: .65;
    line-height: 24px;
    font-size: 16px;
    cursor: pointer;
  }
  #rc_price_onetime {
    font-weight: bold;
  }
  .prenatal-powder-pill-pme .popup .popup__container .popup-img-wrapper img {
    visibility: visible;
  }
  .prenatal-powder-pill-pme .popup .popup__container .popup-img-wrapper {
    width: auto;
    height: auto;
  }
  .prenatal-powder-pill-pme .product__supplement-fact .popup--supplement {
    display: none;
  }
  .quiz-pro-o3 .product__accordion .accordion__pane .accordion__title span:not(.accordion__state) {
    max-width: 100%;
  }
  @media (min-width: 992px) {
    .prenatal-powder-pill-pme .info-top-group {
      position: relative;
      display: flex;
      align-items: center;
    }
    .prenatal-powder-pill-pme .product-ingredient li {
      margin-right: 4px;
      width: 152px;
      height: 70px;
      margin-bottom: 4px;
    }
    .prenatal-powder-pill-pme .col-12 {
      margin-top: 50px;
    }
    .prenatal-powder-pill-pme {
      background-image: linear-gradient(to right, #FFCEC1, #FFCEC1 62%, #ffe6e0 38%, #ffe6e0);
    }
    .prenatal-powder-pill-pme .product-title {
      margin-bottom: 25px;
    }
    .prenatal-powder-pill-pme .page-top .mobile-show {
      display: none;
    }
  }
  @media (min-width: 1680px) {
    .prenatal-powder-pill-pme {
      background-image: linear-gradient(to right, #FFCEC1, #FFCEC1 60%, #ffe6e0 40%, #ffe6e0);
    }
  }
  @media (min-width: 2000px) {
    .prenatal-powder-pill-pme {
      background-image: linear-gradient(to right, #FFCEC1, #FFCEC1 59%, #ffe6e0 41%, #ffe6e0);
    }
  }
  @media (min-width: 2230px) {
    .prenatal-powder-pill-pme {
      background-image: linear-gradient(to right, #FFCEC1, #FFCEC1 58%, #ffe6e0 42%, #ffe6e0);
    }
  }
  @media (min-width: 2480px) {
    .prenatal-powder-pill-pme {
      background-image: linear-gradient(to right, #FFCEC1, #FFCEC1 57.2%, #ffe6e0 42.8%, #ffe6e0);
    }
  }
  @media (max-width: 991px) {
    .prenatal-powder-pill-pme .product-information {
      max-width: 500px;
      margin: 0 auto;
    }
    .prenatal-powder-pill-pme ul.product-text li {
      margin: 0 auto 20px;
    }
    .prenatal-powder-pill-pme .page-top {
      padding: 0;
    }
    .prenatal-powder-pill-pme .mobile-hide {
      display: none;
    }
    .prenatal-powder-pill-pme .product-title {
      margin-bottom: 20px;
    }
    .prenatal-powder-pill-pme {
      background: #FFCEC1;
      padding-top: 80px;
      margin-top: 20px;
    }
    .prenatal-powder-pill-pme .page-top h1 {
      font-size: 32px;
    }
    .prenatal-powder-pill-pme .page-top .text {
      font-size: 18px;
    }
    .prenatal-powder-pill-pme .product-left .product-title, .prenatal-powder-pill-pme .product-right .product-title {
      text-align: center;
      padding: 0;
      padding-bottom: 20px;
    }
    .prenatal-powder-pill-pme .ingredient-more {
      margin-bottom: 20px;
    }
    .prenatal-powder-pill-pme .product-ingredient {
      justify-content: space-between;
      flex-wrap: wrap;
      margin: 0 auto 10px;
    }
    .prenatal-powder-pill-pme .product-ingredient li {
      width: calc(50% - 2.5px);
      margin-bottom: 5px;
    }
    .prenatal-powder-pill-pme .switch-btn {
      display: flex;
      margin: 30px 0px;
    }
    .prenatal-powder-pill-pme .switch-btn .btn {
      width: 50%;
      border: 1px solid #1F3337;
      padding: 16px 0px;
      cursor: pointer;
    }
    .prenatal-powder-pill-pme .switch-btn .left {
      border-radius: 25px 0px 0px 25px;
    }
    .prenatal-powder-pill-pme .switch-btn .center {
      border-left: 0;
    }
    .prenatal-powder-pill-pme .switch-btn .right {
      border-radius: 0px 25px 25px 0px;
      border-left: 0px;
    }
    .prenatal-powder-pill-pme .switch-btn .active {
      background: white;
    }
    .prenatal-powder-pill-pme p+ul.product-text {
      padding-bottom: 0;
    }
    .prenatal-powder-pill-pme .button--primary {
      width: 100%;
      max-width: 400px;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }
  }
</style>

<div class="prenatal-powder-pill-pme" id="prenatal_powder_pill_compare">
  <div class="container">
    <div class="page-top text-center">
      <h1 class="mobile-hide">{{ section.settings.page_title }}</h1>
      <p class="text mobile-hide">{{ section.settings.page_sub_title }}</p>
      <h1 class="mobile-show">{{ section.settings.page_title }}</h1>
      <p class="text mobile-show">{{ section.settings.page_sub_title }}</p>
      <div class="mobile-show" style="position: relative; width: 100%; max-width: 266px; margin: auto;">
        <div style="padding-bottom: 100%;">
          <img src="{{ section.settings.page_image | img_url: "756x" }}" alt="powder and pill" style="position: absolute; left: 0; top: 0; width: 100%;">
        </div>
      </div>
      <div class="switch-btn mobile-show">
        <div class="btn left active">{{ section.settings.btn_name_1 }}</div>
        <div class="btn center">{{ section.settings.btn_name_2 }}</div>
        <div class="btn right">{{ section.settings.btn_name_3 }}</div>
      </div>
    </div>
    <div class="row">
      {% if section.blocks.size > 0 %}
        {% for block in section.blocks %}
          <div class="col-12 col-lg-4 {% if forloop.index0 == 0 %} product-left {% elsif forloop.index0 == 1 %} product-center {% else %} product-right {% endif %}">
            <div class="product-information">
              <div class="info-top-group">
                <div>
                  <h2 class="product-title">{{ block.settings.pro_title }}</h2>
                  <ul class="product-text text">
                    {{ block.settings.pro_text_1 }}
                  </ul>
                </div>
              </div>
              <ul class="product-ingredient">
                {{ block.settings.ingredient }}
              </ul>
              <p class="ingredient-desc">{{ block.settings.ingredient_desc }}</p>
              <p class="ingredient-more text">{{ block.settings.ingredient_more }}</p>
              <ul class="product-text text">
                {{ block.settings.pro_text_2 }}
              </ul>
              {% if block.settings.prenatal_product != blank %}
                {% assign compare_product = all_products[block.settings.prenatal_product] %}
                
                {% if block.settings.bottom_text != blank %}
                  <label class="bottom-text">{{ block.settings.bottom_text }}</label>
                {% endif %}
                
                {% assign compare_link = '/products/' | append: compare_product.handle %}
                {% if compare_product.handle == 'prenatal-multi-powder' %}
                  <a href="{{ compare_link }}" class="button button--primary">Shop Prenatal Multi Powder</a>
                {% elsif compare_product.handle == 'prenatal-multi-capsules' %}
                  <a href="{{ compare_link }}" class="button button--primary">Shop Prenatal Multi Capsules</a>
                {% else %}
                  <a href="{{ compare_link }}" class="button button--primary">Shop Prenatal Multi Essentials</a>
                {% endif %}
              {% endif %}
            </div>
          </div>
        {% endfor %}
      {% endif %}
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $(window).resize(function() {
      if($(window).width() < 992) {
        if ($(".prenatal-powder-pill-pme .switch-btn .left").hasClass("active")) {
          $(".prenatal-powder-pill-pme .product-center").css('display', 'none');
          $(".prenatal-powder-pill-pme .product-right").css('display', 'none');
        } else if ($(".prenatal-powder-pill-pme .switch-btn .center").hasClass("active")) {
          $(".prenatal-powder-pill-pme .product-left").css('display', 'none');
          $(".prenatal-powder-pill-pme .product-right").css('display', 'none');
        } else {
          $(".prenatal-powder-pill-pme .product-center").css('display', 'none');
          $(".prenatal-powder-pill-pme .product-left").css('display', 'none');
        }
      } else {
        $(".prenatal-powder-pill-pme .product-left").css('display', 'block');
        $(".prenatal-powder-pill-pme .product-center").css('display', 'block');
        $(".prenatal-powder-pill-pme .product-right").css('display', 'block');
      }
    })

    if($(window).width() < 992) {
      if ($(".prenatal-powder-pill-pme .switch-btn .left").hasClass("active")) {
        $(".prenatal-powder-pill-pme .product-center").css('display', 'none');
        $(".prenatal-powder-pill-pme .product-right").css('display', 'none');
      } else if ($(".prenatal-powder-pill-pme .switch-btn .center").hasClass("active")) {
        $(".prenatal-powder-pill-pme .product-left").css('display', 'none');
        $(".prenatal-powder-pill-pme .product-right").css('display', 'none');
      } else {
        $(".prenatal-powder-pill-pme .product-center").css('display', 'none');
        $(".prenatal-powder-pill-pme .product-left").css('display', 'none');
      }
    }
    
    $(".prenatal-powder-pill-pme .switch-btn .btn").on("click", function() {
      $(".prenatal-powder-pill-pme .switch-btn .btn").removeClass("active");
      $(this).addClass("active");
      
      if ($(this).hasClass("left")) {
        $(".prenatal-powder-pill-pme .product-left").css('display', 'block');
        $(".prenatal-powder-pill-pme .product-center").css('display', 'none');
        $(".prenatal-powder-pill-pme .product-right").css('display', 'none');
      } else if ($(this).hasClass("center")) {
        $(".prenatal-powder-pill-pme .product-left").css('display', 'none');
        $(".prenatal-powder-pill-pme .product-center").css('display', 'block');
        $(".prenatal-powder-pill-pme .product-right").css('display', 'none');
      } else {
        $(".prenatal-powder-pill-pme .product-left").css('display', 'none');
        $(".prenatal-powder-pill-pme .product-center").css('display', 'none');
        $(".prenatal-powder-pill-pme .product-right").css('display', 'block');
      }
    })
    
    $('.prenatal-powder-pill-pme').on('click', '.have_ques, .faq_link', function() {
      $('html, body').animate({
        scrollTop: parseInt($('.quiz-pro-o3').offset().top) - 100
      }, 850);
    });
  })
</script>

{% schema %}
{
  "name": "Powder and pill",
  "max_blocks": 3,
  "settings": [
    {
      "type": "text",
      "id": "page_title",
      "label": "Heading",
      "default": "Wondering which of our Prenatal Multis is right for you?"
    },
    {
      "type": "textarea",
      "id": "page_sub_title",
      "label": "Sub heading"
    },
    {
      "type": "text",
      "id": "btn_name_1",
      "label": "Button name 1",
      "default": "Powder"
    },
    {
      "type": "text",
      "id": "btn_name_2",
      "label": "Button name 2",
      "default": "Capsules"
    },
    {
      "type": "text",
      "id": "btn_name_3",
      "label": "Button name 3",
      "default": "Essentials"
    },
    {
      "type": "image_picker",
      "id": "page_image",
      "label": "Image"
    }
  ],
  "blocks": [
    {
      "type": "product",
      "name": "powder and pill",
      "settings": [
        {
          "type": "text",
          "id": "pro_title",
          "label": "Product title",
          "default": "Needed Prenatal Multi Powder"
        },
        {
          "type": "textarea",
          "id": "pro_text_1",
          "label": "Text 1"
        },
        {
          "type": "textarea",
          "id": "pro_text_2",
          "label": "Text 2"
        },
        {
          "type": "textarea",
          "id": "ingredient",
          "label": "Ingredient"
        },
        {
          "type": "textarea",
          "id": "ingredient_desc",
          "label": "Ingredient text",
          "default": "* encapsulated in plant-based beadlets for optimal absorption and nutrient protection"
        },
        {
          "type": "textarea",
          "id": "ingredient_more",
          "label": "Ingredient more",
          "default": "+20 other complete vitamins and minerals"
        },
        {
          "type": "text",
          "id": "bottom_text",
          "label": "Bottom Text"
        },
        {
          "type": "product",
          "id": "prenatal_product",
          "label": "Product select"
        }
      ]
    }
  ]
}
{% endschema %}